#galeria {
    position: relative;
    .letter-g {
        opacity: 0;
        position: absolute;
        top: -100px;
        right: 0;
        &.animated {
            opacity: 1;
        }
    }
    margin-top: 100px;
    .gallery {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        p.cat--header {
            font-size: 60px;
            color: #75411e;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            /* margin-bottom: 40px; */
            /* margin-top: 40px; */
            /* display: inline-block; */
        }
        .cat--category {
            flex: 1 1 auto;
        }
        
    }
    
}

.row.gallery-wrapper {

    margin-left: -15px;
    margin-right: -15px;
} 
    
.filter-button
{
    font-size: 18px;
    border: none;
    text-align: center;
    color: white;
    background: transparent;
    padding-left: 20px;
    padding-right: 20px;
}
.filter-button:hover
{
    cursor: pointer;
}
.filter-button.active
{
    color: #ab6a3f;
}

button#gal-lokal{
    border-top: 0;
    border-bottom: 0;
    border-left: 1px;
    border-right: 1px;
    border-color: rgba(255,255,255, .4); 
    border-style: solid;
}
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    transition: transform .5s ease-in-out;
    &:hover {
        transform: scale(1.08);
        z-index: 9;
        img {
            opacity: 1;
        }
    }
    img {
    width: 100%;
    height: auto;
    border: 1px solid #64381b;
    opacity: .5;
    }

}

@media screen and (max-width: 728px){ 
    .row.gallery-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    } 
    .filter-button
    {
        font-size: 16px;
        border: none;
        text-align: center;
        color: white;
        background: transparent;
        padding-left: 10px;
        padding-right: 10px;
    }
    .filter-button:hover
    {
        cursor: pointer;
    }
    .filter-button.active
    {
        color: #ab6a3f;
    }
    
    button#gal-lokal{
        border-top: 0;
        border-bottom: 0;
        border-left: 1px;
        border-right: 1px;
        border-color: rgba(255,255,255, .4); 
        border-style: solid;
    }
}

@media screen and (max-width: 992px){ 
    #galeria {
        position: relative;
        margin-top: 100px;
        .gallery {
            display: flex;
            align-items: center;
            p.cat--header {
                font-size: 30px;
                color: #75411e;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
                /* margin-bottom: 40px; */
                /* margin-top: 40px; */
                /* display: inline-block; */
            }
            .cat--category {
                flex: 1 1 auto;
            }
            
        }
        
    }
}

@media screen and (max-width: 1440px){
    #galeria {
        position: relative;
        margin-top: 100px;
        .gallery {
            display: flex;
            align-items: center;
            p.cat--header {
                font-size: 40px;
                color: #75411e;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
                /* margin-bottom: 40px; */
                /* margin-top: 40px; */
                /* display: inline-block; */
            }
            .cat--category {
                flex: 1 1 auto;
            }
            
        }
        
    }
}

@media screen and (max-width: 1600px){
    #galeria {
        .letter-g {
            display: none;
        }

    }
}

@media screen and (min-width: 1600px){
    .row.gallery-wrapper {
        padding-right: 20%;
    } 
}