#menu {
    .img-cena {
        max-width: 256px;
        position: absolute;
        max-height: 387px;
        height: 100%;
        width: 100%;
        display: block;
        background-color: red;
        right: 0;
    }
}