.slider-nav {
  color: white;
  div {
      width: 40px;
      height: 45px;
      border: 1px solid #8b4513;
      background-color: #1a1817;
      font-size: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i {
          opacity: .6;
      }
  }
}

.slider-slide {
  margin: 20px 5px;
}
.slider-slide img {
  width: 90%;
  max-width: 100%;
  height: auto;
  opacity: .6;
  transition: 0.3s ease-in-out all;
  }
.slick-slide {
  transform: scale(1);
}
.slick-center .slider-slide img{
  opacity: 1;
  transform: scale(1.08);
}

