@import 'partials/base';
@import 'partials/header';
@import 'partials/hamb';
@import 'partials/menu';
@import 'partials/slider';
@import 'partials/sect_aktual';
@import 'partials/onas';
@import 'partials/menu_section';
@import 'partials/footer';
@import 'partials/gallery';

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}



main {
  background-color: #0c0c0f;
  background-image: url(../img/tlo-cale.jpg);
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  &:before {

    position: absolute;

    content: '';
    background: url(../img/tlo-cale_maska.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -53px;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(0deg);

} 
}
